:root {
    /* color */
  
    --main-color: #fee101;
    --second-color: #d61319;
  
    --color-grey: #8e8f91;
  
    --color-white: #eee;
  }
  
  /*universal  */
  
  /* html{
      font-size: 80%;
  } */
  
  *,
  *::after,
  *::before {
    box-sizing: border-box; /* margin의 기준선이 border를 기준으로  만들어짐 */
  
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  ul {
    list-style: none;
    padding-left: 0;
  }
  
  li {
    list-style: none;
  }
  
  /* 🍀Utility class */
  
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flot_clear {
    clear: both;
  }
  
  .relative {
    position: relative;
  }
  
  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .myButton {
    box-shadow: 0px 1px 0px 0px #f0f7fa;
    background: linear-gradient(to bottom, #269df5 5%, #35719e 100%);
    background-color: #269df5;
    border-radius: 1rem;
    /* border:1px solid #057fd0; */
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 2rem;
    font-weight: bold;
    /* padding:6px 24px; */
    text-decoration: none;
    text-shadow: 0px -1px 0px #5b6178;
  
    /* ⚡me */
    position: relative;
    padding: 1rem;
    height: 8rem;
  }
  .myButton:hover {
    background: linear-gradient(to bottom, #35719e 5%, #269df5 100%);
    background-color: #35719e;
  }
  .myButton:active {
    position: relative;
    top: 1px;
  }
  
  /* 
  .myButton2 {
      box-shadow: 0px 1px 0px 0px #f0f7fa;
      background:linear-gradient(to bottom, #269DF5 5%, #35719E 100%);
      background-color:#269DF5;}
  
  .myButton2:hover {
      background:linear-gradient(to bottom, #35719E 5%, #269DF5 100%);
      background-color:#35719E;}    
  */
  
  /* 🍀 start coding */
  
  .world {
    display: flex;
  }
  
  /* 🍀world-left */
  
  .world-left {
    background: linear-gradient(to bottom, #fff 5%, var(--color-grey) 100%);
  
    width: 55vw;
    height: 100vh;
    position: relative;
  }
  
  .world-left .notification{
    background-color: lightcoral;
  
    position: absolute;
    top: 2rem;
    right: 10rem;
  
    padding: 1rem;
  }
  
  .world-middle{
      width: 15vw;
      height: 100vh;
  }
  
  .world-right {
    background-color: var(--color-white);
  
    width: 30vw;
    height: 100vh;
    position: relative;
  }
  
  /*  */
  .abc {
      background-color: #FFFFFF;
      width: 40vw;
      padding-top: 2rem;
  
      color: #717274;
    margin: auto;
    text-align: center;
  }
  /* .left-second_lay {
    background-color: #becbd3;
  }
   */
  
   .abc .cashier{
       /* width: 30vw; */
       display: flex;
       justify-content: center;
       align-items: center;
   }
  
   .abc .cashier p{
       padding: 1rem 2rem;
   }
  
  
  
   /* 🍉flex
   .abc .items{
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      border-top: 1px solid #717274;
      border-bottom: 1px solid #717274;
   }
  
   .abc .items .item{
      padding: 0.2rem 3rem;
  }
  
  
  .abc .check .item span{
      padding-left: 2rem;
  }
  
  .abc .check {    
      padding-left: 35rem;
      color: black;
  }
  
  
   .abc .check .item {
       display: flex;
       justify-content: space-evenly;
       padding-right: 1rem;     
   }
   .abc .check .item:nth-child(2) {
     
      padding-right: 1.5rem;     
  }
  
   .abc .check .item .tax_num{
      border-bottom: 1px black solid;    
  }
  
   */
  
   /* 🍉table */
   .abc .check-wrap{  
    width: 40vw; 
    border-collapse: collapse;  
  }
  
   .abc .check-wrap .tax,
   .abc .check-wrap .total{
     text-align: center;
     color: black;
     
   }
  
   .abc table {
    border-top: 1px #717274 solid;    
  }
  
  .abc table .items{  
    padding:  1rem auto;
    margin:  1rem auto;  
  }
  
  .abc tbody {
    border-top: 1px #717274 solid;    
  }
  
  .abc .check-wrap td {   
    border-bottom: 1px #717274 solid;  
  
    padding: 0.5rem 0.2rem;
  }
  .abc .check-wrap th {   
     padding: 0.3rem 0.2rem;
  }
  
  .abc .tax-price{
    border-bottom: 1px #717274 solid;  
  }
  
  
  
  
  
  .disabled {
    width: 100%;
    margin: 0 auto 0 0;
  
    background-image: linear-gradient(#c1c8ce, #eee 50%, #c1c8ce 100%);
  
    /* position: relative; */
  }
  
  .disabled-img {
      background-color: #4AB3EB;
  
      
      border-radius: 1rem;
      display: block;
      margin: .5rem 1rem .5rem auto;
   
  }
  
  .left-second-container {
    position: absolute;
    bottom: 0rem;
    left: 0;
    right: 0;
    margin: auto;
  
    display: flex;
    flex-direction: column;
  }
  
  /* 🍀world-right - page1 */
  
  /* js 10 */
  .page1{
      position: fixed;
      top: 0; 
      right: 0;
  }
  .page1.change {
      right: -30vw;
  }
  
  .world-right {
    position: relative;
  }
  
  .page1 .bags {
    width: 30vw;
  
    text-align: center;
    border: solid 1px black;
  
    margin: 2rem 2rem;
  }
  
  .page1 .bags img {
    width: 100%;
  }
  .page1 .bags .bags-title1 {
    color: #D50F0F;
  }
  .page1 .bags .bags-title2 {
      background-color: #555555;
    color: #eee;
  }
  
  
  .page1 .btn-container {
    width: 90%;
  
    position: absolute;
    bottom: 5rem;
    left: 0;
    right: 0;
    margin: auto;
  
    display: grid;
    grid-template-areas:
      "a b"
      "c d"
      "e e";
    gap: 5%;
  }
  
  /* 🍉grid */
  .page1 .grid-a {
    grid-area: a;
  
    background: linear-gradient(to bottom, #dbdb54 5%, #7e7b3c 100%);
    background-color: #dbdb54;
  }
  
  .page1 .grid-a:hover {
    background: linear-gradient(to bottom, #7e7b3c 5%, #dbdb54 100%);
    background-color: #7e7b3c;
  }
  
  .page1 .grid-b {
    grid-area: b;
  }
  .page1 .grid-c {
    grid-area: c;
  }
  .page1 .grid-d {
    grid-area: d;
  }
  
  /* 
  .myButton2 {
      box-shadow: 0px 1px 0px 0px #f0f7fa;
      background:linear-gradient(to bottom, #269DF5 5%, #35719E 100%);
      background-color:#269DF5;}
  
  .myButton2:hover {
      background:linear-gradient(to bottom, #35719E 5%, #269DF5 100%);
      background-color:#35719E;}    
  */
  
  .page1 .grid-e {
    grid-area: e;
  
    background: linear-gradient(to bottom, #2fef1f 5%, #30532e 100%);
    background-color: #2fef1f;
  
    padding: 3rem;
  }
  
  .page1 .grid-e:hover {
    background: linear-gradient(to bottom, #30532e 5%, #2fef1f 100%);
    background-color: #30532e;
  }
  
  /* 🍉img */
  .page1 .grid-a .img_container{
      background-color: #D4D948;
      width: 2.2rem;
      height: 2.2rem;
  
      position: absolute;
      bottom: 1.8rem;
      left: 2rem;
  
      line-height: 2.2rem;
      border-radius: 50%;
  }
  .page1 .grid-a img{ 
      width: 2rem; 
  }
  
  
  .page1 .grid-b div{
      font-size: 80%;
  }
  .page1 .grid-b .img_container { 
    margin: auto;
    left: 0;
    right: 0;
  
  }
  
  .page1 .grid-b img{ 
      width: 2rem; 
  }
  
  .page1 .grid-c img {
    width: 3rem;
  
    position: absolute;
    bottom: 2rem;
    left: 1rem;
  }
  
  
  
  .page1 .grid-d img {
    width: 3rem;
  
    position: absolute;
    bottom: 2.5rem;
    left: 1rem;
  }
  
  /*🍀 page2  */
  .page2{
      position: fixed;
      top: 0; 
      right: -30vw;
  
      transition: all .3s ease;
  }
  .page2.change {
      right: 0;
  }
  
  .page2 .title { 
    background-color: #fff;
    
    text-align: center;
  
    padding: 1rem;
    padding-top: 5rem;
    border: 1px black solid;
    margin: 2rem 2rem;  
  }
  
  .page2 .title h1{
      margin: 0 auto 2rem;    
   }
  
  
  .page2 .title img {
    width: 12%;
  
  }
  
  .page2 .btn-container {
    width: 90%;
  
    position: absolute;
    bottom: 3rem;
    left: 0;
    right: 0;
    margin: auto;
  
    display: grid;
    grid-template-areas:
      "a ."
      "b c"
      "d ."
      "e f";
    gap: 1%;
  }
  
  /* 🍉grid */
  
  .page2 .grid-a {
    grid-area: a;
  
    padding: 2.4rem;
  }
  .page2 .grid-b {
    grid-area: b;
  }
  .page2 .grid-c {
    grid-area: c;
  }
  .page2 .grid-d {
    grid-area: d;
  }
  .page2 .grid-e {
    grid-area: e;
  
    background: linear-gradient(to bottom, #c0c6cb 5%, #4f5153 100%);
    background-color: #c0c6cb;
  }
  
  .page2 .grid-e:hover {
    background: linear-gradient(to bottom, #4f5153 5%, #c0c6cb 100%);
    background-color: #4f5153;
  }
  
  .page2 .grid-f {
    grid-area: f;
  
    background: linear-gradient(to bottom, #dbdb54 5%, #7e7b3c 100%);
    background-color: #dbdb54;
  }
  .page2 .grid-f:hover {
    background: linear-gradient(to bottom, #7e7b3c 5%, #dbdb54 100%);
    background-color: #7e7b3c;
  }
  
  /* 🍉img */
  
  .page2 .grid-a .img_container {
  
  background-color: #29DB74;
  width: 2.2rem;
  height: 2.2rem;
  
  line-height: 3rem;
  border-radius: 50%;
  
    margin: auto;
    left: 0;
    right: 0;
  }
  
  .page2 .grid-a img{
      width: 2rem;
  }
  
  .page2 .grid-b .img_container {
  background-color: #9D5DD5;
  width: 3.2rem;
  height: 3.2rem;
  
  line-height: 4.8rem;
  border-radius: 50%;
  
    margin: auto;
    left: 0;
    right: 0;
  }
  
  .page2 .grid-b img {
    width: 2.7rem;
  }
  
  .page2 .grid-c div{
      font-size: 1.4rem;  
      padding: 0 1rem;
    }
  
  .page2 .grid-d{
      
    }
    
  .page2 .grid-e{
      font-size: 1.4rem;  
  }
  /*  */
  
  .page2 .grid-e .img_container {
  
  background-color: #B0ACB2;
  width: 2.2rem;
  height: 2.2rem;
  
  line-height: 3rem;
  border-radius: 50%;
  }
  
  .page2 .grid-e img{
      width: 2rem;
  }
  
  .page2 .grid-f .img_container {
  
  background-color: #D4D948;
  width: 2.2rem;
  height: 2.2rem;
  
  position: absolute;
  bottom: 2rem;
  left: 2.2rem;
  
  
  line-height: 2.5rem;
  border-radius: 50%;
  }
  
  .page2 .grid-f img{
      width: 2rem;
  }
  
  .page2 .scan {
    /* background-color: yellow; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  /*🍀 page3  */
  
  .page3{
      position: fixed;
      top: 0; 
      right: -30vw;
  
      transition: all .3s ease;
  }
  .page3.change {
      right: 0;
  }
  
  .page3 .title {
    width: 30vw;
  }
  .page3 .title img {
    width: 70%;
  
    display: block;
    margin: auto;
    padding: 20px;
    padding-top: 4rem;
  }
  
  .page3 .explain {
    text-align: center;
    padding: 2rem;
    padding-top: 4rem;
    font-size: 2.3rem;
    font-weight: 600;
    color: #717274;
  }
  
  .page3 .btn-container {
    width: 90%;
  
    position: absolute;
    bottom: 2rem;
    left: 0;
    right: 0;
    margin: auto;
  
    display: grid;
    grid-template-areas: "a b";
    gap: 3%;
  }
  
  /* 🍉grid */
  .page3 .grid-a {
    grid-area: a;
  
    background: linear-gradient(to bottom, #ed3434 5%, #723232 100%);
    background-color: #ed3434;
  }
  
  .page3 .grid-a:hover {
    background: linear-gradient(to bottom, #723232 5%, #ed3434 100%);
    background-color: #723232;
  }
  
  .page3 .grid-b {
    grid-area: b;
    background: linear-gradient(to bottom, #dbdb54 5%, #7e7b3c 100%);
    background-color: #dbdb54;
  }
  
  .page3 .grid-b:hover {
    background: linear-gradient(to bottom, #7e7b3c 5%, #dbdb54 100%);
    background-color: #7e7b3c;
  }
  
  /* 🍉img */
  
  /* 
  .page2 .grid-a .img_container {
  
  background-color: #29DB74;
  width: 2.2rem;
  height: 2.2rem;
  
  line-height: 3rem;
  border-radius: 50%;
  
    margin: auto;
    left: 0;
    right: 0;
  }
  
  .page2 .grid-a img{
      width: 2rem;
  }
  
  */
  .page3 .grid-a .img_container {
  
  background-color: #F51C1C;
  width: 2.2rem;
  height: 2.2rem;
  
  line-height: 3rem;
  border-radius: 50%;
  
      margin: auto;
      left: 0;
      right: 0;
  }
  
  .page3 .grid-a img{
      width: 2rem;
  }
  
  .page3 .grid-b .img_container {
  
  background-color: #D4D948;
  width: 2.2rem;
  height: 2.2rem;
  
  position: absolute;
  bottom: 2rem;
  left: 2.2rem;
  
  line-height: 2.5rem;
  border-radius: 50%;
  }
  
  .page3 .grid-b img{
      width: 2rem;
  }
  
  /* 
  .page3 .grid-b p {
      background-color: #D4D948;
      width: 3.2rem;
      height: 3.2rem;
   
      position: absolute;
      left: 1rem;
      bottom: 1.5rem;
  
      line-height: 3.2rem;
      border-radius: 50%; 
  }
   */